.content{
     float:left;
     width: 60%;
     padding:0 0 0 30px;
    }
     .sidebar{
     float:right;
     width:30%;
     padding:10px;
     background: green;
     height: 100%;
    }
     h1{
     text-align: center;
     border-bottom: 0px solid;
     padding: 0 0 10px 0;
     color: black;
    }
    #date{
     color:yellow;
     font-size:22px;
     font-style: italic;
    }
    #ch{
         color: yellow;
         font-size: 20px;
         font-style: italic;
         border-bottom: 2px;

    }
     body{
     background: sandybrown;
    
    } 